In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(({
     'Courses':["Spark",'Java',"Scala",'Python'],
     'Fee' :[20000,np.nan,26000,24000],
     'Duration':['30days','40days','NA','40days'],
     'Discount':[1000,np.nan,2500,None]
               }))
df

  Courses      Fee Duration  Discount
0   Spark  20000.0   30days    1000.0
1    Java      NaN   40days       NaN
2   Scala  26000.0       NA    2500.0
3  Python  24000.0   40days       NaN